button {
    background-color: #2A7AE4;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    margin-left: 30px;
}
.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    

}
.btn__eliminar{
    background-color: red;
}

.modal__icono{
    width: 100%;
    font-size: 3rem;
    color: black;
    text-align: right;
}
.modal__icono i{
    margin: 60px;
    font-size: 6rem;
}
.modal__container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.modal__img{
    width: 50%;
}
.modal__img img{
    width: 90%;
}

.modal__descripcion{
    text-align: left;
    width: 50%;
}
.modal__descripcion h1, h2, p{
    margin-left: 70px;
}

@media screen and (min-width:360px){

    .categoria h1{
        font-size: 1.7rem;
    }
    .categoria a{
        font-size: 1.4rem;
    }
    button{
        font-size: 1.2rem;
    }
    .categoria{
        display: block;
        text-align: left;
    }
    .modal{
        font-size: 3rem;
    }
    .producto button{
        font-size: 1.5rem;
    }

}

@media screen and (min-width:760px){
    .categoria h1{
        font-size: 2rem;
    }
    .categoria a{
        font-size: 1.7rem;
    }
    button{
        font-size: 1.9rem;
    }
    .categoria{
        display: flex;
    }
}

@media screen and (min-width:1200px){
    .categoria h1{
        font-size: 2.5rem;
    }
    .categoria a{
        font-size: 2rem;
    }
    button{
        font-size: 2rem;
    }
}